<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
  <table width="780" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;border:1px solid #aaa">
    <tbody>
      <tr>
        <td align="right">
          <table width="780" align="center" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr style="background:rgba(0,0,0,0.85);">
                <td align="left" style="padding:8px 20px">
                  <img src="https://d1asmq9pjfbzxs.cloudfront.net/images/logo-st.jpg" width="300" style="height:auto" align="left" alt="Logo">
                </td>
              </tr>
            </tbody>
          </table>
          <table width="780" border="0" align="center" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td style="padding-bottom:20px">
                  <div style="font-size:30px;line-height:34px;color:#666;padding:15px 20px 0;font-weight:700">Thank you for Subscribing!</div>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="780" align="center" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td valign="top" style="font-size:14px;line-height:21px;color:#444444">
                  <table width="780" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="padding:0 20px">
                          <p style="margin:0 0 14px 0;padding:0;color:#111; font-family:sans-serif">
                            We will keep you updated monthly with the latest from FSAE and TeamKART
                          </p>
                          <p style="margin:0 0 14px 0;padding:0;color:#111; font-family:sans-serif">
                            Your suggestions are welcome. Feel free to reply to this address with suggesions or contact us <a href="http://www.teamkart.in/contact.html">here</a>.
                          </p>
                          <p style="margin:0 0 14px 0;padding:0;color:#111; font-family:sans-serif;">
                            We are constantly on the lookout for new corporate sponsors and patrons.
                            Supporting a student team such as TeamKART gives a brand exposure at major events across the world such as FS UK held at Silverstone every year.
                            It also gives access to to talented future employees with hands-on engineering experience.
                          </p>
                          <p style="margin:0 0 14px 0;padding:0;color:#111; font-family:sans-serif">
                            <i>If you are interested in having your brand partner with TeamKART, feel free to contact us</i>
                          </p>
                          <p style="margin:0 0 14px 0;padding:0;font-family:sans-serif;color:#111;">
                            We look forward to hearing from you.
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table width="780" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="padding:4px 20px;background-color:#007799;color:#ffffff;font-size:16px;width:38%">Contact</td>
                        <td style="padding: 4px 20px; background: #77aabb url('https://d1asmq9pjfbzxs.cloudfront.net/images/arrow.png') no-repeat center left; color: #ffffff; font-size: 12px; text-align: right"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table style="font-family: Verdana,sans-serif;" width="780" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      {{#each contactPerson}}
                      <tr>
                        <td style="padding:0 40px;">
                          <p>{{this.name}}</p>
                          <p>{{this.position}}</p>
                          <p>Ph: {{this.tel}}</p>
                          <p>Email: {{this.email}}</p>
                          <table width="780" align="center" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td style="padding:4px 20px;background-color:#007799;color:#ffffff;font-size:16px;width:38%"></td>
                                <td style="padding: 4px 20px; background: #77aabb url('https://d1asmq9pjfbzxs.cloudfront.net/images/arrow.png') no-repeat center left; color: #ffffff; font-size: 12px; text-align: right"></td>
                              </tr>
                              <tr>
                                <td style="padding:8px 20px"> </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      {{/each}}
                      <tr>
                        <td style="padding:14px 20px"> </td>
                      </tr>
                    </tbody>
                  </table>
                  <table width="780" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="padding:4px 20px;background-color:#007799;color:#ffffff;font-size:16px;width:38%"></td>
                        <td style="padding: 4px 20px; background: #77aabb url('https://d1asmq9pjfbzxs.cloudfront.net/images/arrow.png') no-repeat center left; color: #ffffff; font-size: 12px; text-align: right">
                          &copy;TeamKART 2015
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:8px 20px"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table width="780" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      {{#each sponsor}}
                      <tr>
                        {{#each this}}
                        <td>
                          <a href="{{this.url}}" target="_blank"><img src="https://d1asmq9pjfbzxs.cloudfront.net/images/sponsors/{{this.img}}" alt="{{this.name}}" /></a>
                        </td>
                        {{/each}}
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="780" border="0" cellspacing="0" cellpadding="0" style="background-color:#ccc">
            <tbody>
              <tr>
                <td width="780" bgcolor="#ffffff" valign="top" align="center">
                  <div style="font-size:11px;color:#777;margin-top:0;padding:0 0 4px 0;width:100%;border-top:1px solid #bbb">
                    <p style="margin:0 0 14px 0;padding:0;font-size:12px;color:#666;margin-top:4px">
                      <a href="http://www.teamkart.in" style="color:#007788;color:#007788" target="_blank">Visit Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Find us online:&nbsp;&nbsp;
                      <span>
                        <a href="http://www.facebook.com/TeamKART" style="color:#007788" target="_blank"><img src="https://d1asmq9pjfbzxs.cloudfront.net/images/fb.png" alt="Facebook" width="16" height="16" border="0"></a>
                      </span>
                    </p>
                    <a href="http://www.teamkart.in/unsubscribe?id={{_id}}" style="color:#007788" target="_blank">Unsubscribe</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>